:root {
	--vilagoskek: #f0f8ff;
	--sotetkek: #00008b;
	--sotetpiros: #dc143c;
  }

body {
	font-size: 11pt;
	background-image: url('pic/bg.png');
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	color: var(--sotetkek);
}

p{
	
}

p.bev{
	
}

#bevcella p{
	font-size: small;
	font-style: italic;
}


hr {
	
}

h1, h2 {
	color:var(--sotetpiros);
	padding: 5px;
}

h2 {
	font-size: 17px;
	
}


#tartalom {
	margin: 0 auto 0 auto;
	width:930px;
	/*text-align: left; */
	background-color: var(--vilagoskek);
}

.container
{
	margin:0px 5px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
/*	grid-template-columns: 310px 310px 310px;*/

	grid-template-rows: repeat(3,auto);
	grid-template-areas: 
	"bev bev bev"
	"o1 o2 o3"
	"footer footer footer"
	;
/*	justify-content: center;*/
	column-gap:5px;

}

#oszlop1, #oszlop2, #oszlop3 {
/*    float: left;
    padding: 0px;
	*/   	
}

#bevcella{
	grid-area: bev;
}




#oszlop1{
	grid-area: o1;
}

#oszlop2{
	grid-area: o2;
}

#oszlop3{
	grid-area: o3;
}

.kep {
	
}

a:link {
	color:var(--sotetpiros);	
}

a:hover {
	color:var(--sotetpiros);	
}

a:active {
	color:var(--sotetpiros);	
}

a:visited {
	color:var(--sotetpiros);	
}

#lablec {
    clear: both;
	grid-area: footer;
}